.navbar {
    background-color: #0F00FF;
    margin-top: 5px;
}

.navbar-brand {
    color: #fff;
    padding: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.nav-link {
    color: #fff;
}